/.bundle
/db/*.sqlite3
/log/*.log
/tmp

coverage
.sass-cache/
.jhw-cache
config/database.yml
*.request
.DS_Store
*.dot
*.swp
public/stylesheets/*.css
public/badge/**/*
public/fanpage/**/*
public/shop/**/*
public/data/
test.rb
dumps
.local.yml
vendor/gems
nohup.out
bin/
.projectile
public/assets
config/locales/*
!config/locales/en.yml
app/assets/javascripts/i18n/translations_*.js
.yardoc

