.fb-login.btn {

}

.btn {
  position: relative;
  top: 0;
  outline: none;
  border: none;
  padding: 7px 28px 5px;
  color: white;
  @include border-radius(all, 3px);
  float: right;
  font-size: 15px;
  &:active {
    top: 1px;
  }
}

.btn-primary {
  background:#54C473;
  margin-left: 15px;
  &:hover {
    background:darken(#54C473, 7%);
  }
}
.btn-secondary {
  background: #AFAFAF;
  padding: 7px 20px 5px;
  &:hover {
    background:darken(#AFAFAF, 7%);
  }
}
