<section class="add-search-section">
  {{view App.AddSearchLinkView}}
</section>

<section class="links-section">
  <div class="content">
    <div class="links-wrapper">
      {{collection class='groups' tagName='ul'contentBinding=controller itemViewClass='App.GroupListView'}}
      {{outlet}}
    </div>
  </div>
</section>
