<section class="links-section">
  <div class="content">
    <ul>
      {{collection contentBinding=controller itemViewClass='App.GroupListView'}}
    </ul>
    <hr>
      <p>jasdkjhjkh</p>
      {{outlet}}
    <hr>
  </div>
</section>
