<section class="links-section">
  <div class="content">
    <div class="links-wrapper">
      {{collection class='groups' tagName='ul'contentBinding=controller.groups itemViewClass='App.GroupListView'}}
      {{outlet}}
    </div>
  </div>
</section>
