<section class="add-search-section">
  {{view App.AddSearchLinkView}}

  <div class="contexts-list">
    {{controller.name}}
    <ul>
      {{#each controller}}
        <li>{{#linkTo 'contexts.groups' this}}{{name}}{{/linkTo}}</li>
      {{/each}}
    </ul>
  </div>
</section>
{{outlet}}

