.contexts-list {
  width: 185px;
  position: absolute;
  left: 0;
  top: 0;
}

.add-search-section {
  position: relative;
  min-width: 1100px;
  min-height: 45px;
  margin-bottom: 50px;
  .add-search-link {
    position: relative;
    margin: auto;
    width: 700px;
    .add-link {
      position: relative;
      height: 42px;
      z-index: 2;
      &:before {
        top: 9px;
        right: 7px;
        color: rgb(179, 179, 179);
        z-index: 1;
        position: absolute;
        font-size: 25px;
      }
      &.valid-link:before {
        color: #54C473;
      }
      &.invalid-link:before {
        color: red;
      }
      input {
        position: absolute;
        width: 100%;
        height: 42px;
        border: none;
        outline: none;
        @include border-radius(bottom, 3px);
        font-size: 17px;
        padding: 3px 42px 0 20px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .1);
      }
    }
    .search-links {
      display: none;
      @extend .add-link;
    }
  }
  .link-preview {
    position: relative;
    margin-top: -200px;
    background:white;
    @include border-radius(all, 3px);
    @include transition(margin-top, 0.4s, ease-in-out, 0.4s);
    &.is-pasted {
      margin-top: 1px;
    }
    .link-element{
      padding: 19px 45px 19px 25px;
      box-shadow: none;
      p {
        width: 100%;
      }
    }
  }
  .save-cancel {
    border-top: 1px dashed #cacaca;
    padding: 11px 18px;
  }
}

.links-section {
  .content {
    width: 1100px;
    position: relative;
    margin: auto
  }

  .links-wrapper {
    width: 700px;
    margin: auto;
    position: relative;
  }
  .groups {
    width: 180px;
    position: absolute;
    left: -200px;
    top: 0;
    list-style-type: none;
    li {
      margin: 3px 0 3px;
      a {
        text-decoration: none;
        color: #333;
        padding: 5px 7px 3px;
        display: block;
        &.active {
          background: #54C473;
          border-radius: 3px;
          color: white;
          @include border-radius(all, 3px);
          font-weight: 700;
        }
      }
    }
  }
  .links {
    // div:first-child {
    //   @include border-radius(top, 2px);
    // }
    // div:last-child {
    //   @include border-radius(bottom, 2px);
    // }
    margin: auto;
  }
}
.link-element {
  position: relative;
  @include border-radius(all, 2px);
  background:white;
  padding: 19px 21px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  .page-img {
    max-width: 70px;
    @include border-radius(all, 3px);
    float: left;
  }
  .link-content {
    margin-left: 90px;
    h2 {
      margin: 0;
      color: #3D3D3D;
      font-size: 17px;
      margin-bottom: 2px;
      line-height: 1.3em;
    }
    .favicon {
      margin-top: 3px;
      width: 12px;
      border-radius: 1px;
    }
    .url {
      font-weight: 400;
      color: #3D6BAF;
      font-size: 13px;
      vertical-align: top;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .description {
      font-family: 'ff-tisa-web-pro';
      font-weight: 400;
      width: 70%;
      margin: 6px 0 0;
      font-size: 13px;
    }
  }
  .options {
    position: absolute;
    right: 15px;
    bottom: 10px;
    min-width: 65px;
    min-height: 20px;
    cursor: pointer;
    .icon-clock:before, .icon-menu:before, .icon-trash:before {
      color: #a9a9a9;
      font-size: 17px;
      @include transition(color, 0.15s);
    }
    .reminder {
      &:hover {
        &.icon-clock:before {
          color: #303030;
        }
      }
    }
    .move-to {
      &.icon-menu:before {
        font-size: 24px;
        line-height: 10px;
      }
      &:hover {
        &.icon-menu:before {
          color: #303030;
        }
      }
    }
    .delete {
      &:hover {
        &.icon-trash:before {
          color: #DA2C2C;
        }
      }
    }
  }
}
