body {
  background-image:image-url('body_bg.jpg');
  background-size: 200px 200px;
}

section, nav, footer {
  max-width: 100%;
  padding: 0 40px;
  div.content {
    margin: auto;
  }
}

nav.main-nav {
  background:#292929;
  height: 55px;
  .content {
    padding: 13px 0 0;
  }
  .logo {
    background:image-url('catcher_logo.png') no-repeat;
    background-size: 100px;
    width: 100px;
    height: 31px;
  }
}
